<!-- <app-user xyz = {{fun1}}></app-user>
<p>{{ero}}</p>
<div>
    <h2>Admin</h2>
    <a routerLink="admin/login">Admin login</a>
    <a routerLink="admin/list">Admin List</a>
</div>

<div>
    <h2>User</h2>
    <a routerLink="user1/login">User Login</a>
    <a routerLink="user1/list">User List</a>
</div>

<router-outlet></router-outlet> -->
<!-- <app-login></app-login>
<app-list></app-list> -->
<!-- <div *ngFor="let item of ele"> -->
  <!-- <app-parent [hero] = 2></app-parent>
  <app-parent [hero] = 3></app-parent> -->
  <!-- <div *ngIf="show">
    <app-parent [hero] = "ero"></app-parent>
  </div>

  <button (click)="change()">ActivateChild</button>
  <button (click)="changeInput()">Change</button> -->
  <!-- <button (click)="changeInput()">Change</button>
  <button (click)="change()">Change 1</button> -->

  <!-- <app-parent *ngFor="let item of ele" [hero]="ero">
    <p>hello : {{item}}</p>
  </app-parent> -->

  <!-- <div *ngIf="ero">
    <p>Hello</p>
  </div> -->

   <ng-container *ngIf="'true'">Yes!</ng-container>

 <div *ngIf="show ; then eopa else ola">
 </div>

  <ng-template #eopa>
    <p>kolkata!</p>
  </ng-template>

  <ng-template #ola>
    <p>Mumbai!</p>
  </ng-template>
     <p #para>{{data}}</p>
     <div appCustomDirective>
      <app-parent  [(hero)]="data"></app-parent>
     </div>

     <!-- <app-child></app-child>
     <button (click)="update()">update</button> -->


  <!-- <button routerLink="/parent">parent</button>
  <button routerLink="/child">child</button>
  <router-outlet></router-outlet> -->
<!-- </div> -->

